@model IEnumerable<IndiceCuentasViewModel>

@{
    ViewData["Title"] = "Cuentas";

    string formatearBalance(decimal balance)
    {
        return Math.Abs(balance).ToString("N");
    }

    string obtenerClaseBalance(decimal balance)
    {
        return balance > 0 ? "activo" : "pasivo";
    }
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<h1>Cuentas</h1>
<a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>

<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Activos</strong>
        </div>
        <div class="@obtenerClaseBalance(Model.Where(x => x.Balance > 0).Sum(x => x.Balance))">
            @formatearBalance(Model.Where(x => x.Balance > 0).Sum(x => x.Balance))
        </div>
    </div>
    <div>
        <div>
            <strong>Pasivos</strong>
        </div>
        <div class="@obtenerClaseBalance(Model.Where(x => x.Balance < 0).Sum(x => x.Balance))">
            @formatearBalance(Model.Where(x => x.Balance < 0).Sum(x => x.Balance))
        </div>
    </div>
    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div>
            @Model.Sum(x => x.Balance)
        </div>
    </div>
</div>

<div class="accordion acordeon-cuentas">
    @foreach (var tipoCuenta in Model)
    {
        var id = tipoCuenta.TipoCuenta.Replace(" ", "");
        var dataBSTarget = "#" + id;
        var claseTipoCuenta = obtenerClaseBalance(tipoCuenta.Balance);

        <div class="accordion-item">
            <h2 class="accordion-header" id="cabeceraUsuario">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@dataBSTarget">
                    <span class="me-3">
                        <span><strong>@tipoCuenta.TipoCuenta</strong></span>
                        <span class="@claseTipoCuenta">@formatearBalance(tipoCuenta.Balance)</span>
                    </span>
                </button>
            </h2>
            <div id="@id" class="accordion-collapse collapse">
                <div>
                    <ul class="list-group">
                        @foreach (var cuenta in tipoCuenta.Cuentas)
                        {
                            var claseCuenta = obtenerClaseBalance(cuenta.Balance);
                            <li class="list-group-item">
                                <span>
                                    <strong>@cuenta.Nombre</strong>
                                    <a asp-action="Editar" asp-route-id="@cuenta.Id" class="btn btn-primary">
                                        <i class="bi bi-pencil-fill me-2"></i>Editar
                                    </a>
                                    <a asp-action="Borrar" asp-route-id="@cuenta.Id" class="btn btn-danger">
                                        <i class="bi bi-trash-fill me-2"></i>Borrar
                                    </a>
                                </span>
                                <span class="@claseCuenta">@formatearBalance(cuenta.Balance)</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>